In [1]:
import pandas as pd
df=pd.read_csv('tennis.csv')
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [2]:
features=df.drop('play',axis=1)
target=df['play']

In [3]:
target=df['play'].replace({"no":0,"yes":1})

In [4]:
features=pd.get_dummies(features,drop_first=True)
features.head()

   windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0  False              0              1         1          0                0
1   True              0              1         1          0                0
2  False              0              0         1          0                0
3  False              1              0         0          1                0
4  False              1              0         0          0                1

In [5]:
features.windy=df['windy']*1
features.head()

   windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0      0              0              1         1          0                0
1      1              0              1         1          0                0
2      0              0              0         1          0                0
3      0              1              0         0          1                0
4      0              1              0         0          0                1

In [6]:
from sklearn.tree import DecisionTreeClassifier

In [7]:
model=DecisionTreeClassifier()

In [8]:
model.fit(features,target)

DecisionTreeClassifier()

In [9]:
model.score(features,target)

1.0